<div class="userProfileWrapper">
  <div class="row">
    <div class="col-md-4 text-center">
      <div class="userProfilePicWrapper">
        <div class="userProfilePic"></div>
      </div>
      <button class="btn ld_bg_accent mt-5">Connect to Instagram</button>
    </div>
    <div class="col-md-4 mt-5 mt-md-0">
      <div class="row"><button type="button" (click)="showEdit()" class="btn ml-auto"><i class="fas fa-edit"></i>Edit</button>
        <div class="col-12">
          <label>Name</label>
          <div class="profileDetailBox" *ngIf="!editProfile">{{ user.name }}</div>
          <input type="text" class="profileDetailInput" *ngIf="editProfile" [(ngModel)]="user.name">
        </div>
        <div class="col-6">
          <label>Age</label>
          <div class="profileDetailBox" *ngIf="!editProfile">{{ user.age }}</div>
          <input type="number" class="profileDetailInput" *ngIf="editProfile" [(ngModel)]="user.age">
        </div>
        <div class="col-6">
          <label>Gender</label>
          <div class="profileDetailBox" *ngIf="!editProfile">{{ user.gender }}</div>
          <select class="profileDetailInput" *ngIf="editProfile" [(ngModel)]="user.gender">
            <option value="Male" name="Male">Male</option>
            <option value="Female" name="Female">Female</option>
          </select>
        </div>
        <div class="col-6">
          <label>Weight(kg)</label>
          <div class="profileDetailBox" *ngIf="!editProfile">{{ user.weight }}</div>
          <input type="number" class="profileDetailInput" *ngIf="editProfile" step=".01" [(ngModel)]="user.weight">
        </div>
        <div class="col-6">
          <label>Height(cm)</label>
          <div class="profileDetailBox" *ngIf="!editProfile">{{ user.height }}</div>
          <input type="number" class="profileDetailInput" *ngIf="editProfile" step=".01" [(ngModel)]="user.height">
        </div>
        <div class="col-6">
          <label>Meal per day</label>
          <div class="profileDetailBox" *ngIf="!editProfile">{{ user.mealPerDay }}</div>
          <input type="number" class="profileDetailInput" *ngIf="editProfile" [(ngModel)]="user.mealPerDay">
        </div>
        <div class="col-6">
          <label>Target (kg)</label>
          <div class="profileDetailBox" *ngIf="!editProfile">{{ user.targetWeight }}</div>
          <input type="number" class="profileDetailInput" *ngIf="editProfile" step=".01" [(ngModel)]="user.targetWeight">
        </div>
        <div class="col-12">
          <label>Activity Level</label>
          <div class="profileDetailBox" *ngIf="!editProfile">{{ user.activityLevel }}</div>
          <select class="profileDetailInput" *ngIf="editProfile" [(ngModel)]="user.activityLevel">
            <option value="Low">Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
          </select>
        </div>
        <button class="btn ld_bg_primary ml-auto mt-3" (click)="saveEdit()" *ngIf="editProfile">Save</button>
      </div>
    </div>

    <div class="col-md-4 mt-5 mt-md-0">
          <h1 class="ld_text_primary">2500</h1>
          <p>recommended kcal per day</p>
          <div class="row m-0">
            <div  class="mr-1">
              <h3 class="ld_text_primary">500</h3>
            </div>
            <div>
              <p class="mb-0 mt-2">kcal</p>
                <p>per meal</p>
            </div>
          </div>
          <button class="btn ld_bg_primary">show me the food</button>

        </div>
  </div>
</div>


<div class="ld_bg_accent connectInsta">
  Connect your instagram account and apply #leandiary to start posting!
</div>
<app-food-gallery [datasource]=images></app-food-gallery>
