<div class="userProfileWrapper">
  <div class="row">
    <div class="col-md-4 text-center">
      <div class="userProfilePicWrapper">
        <div class="userProfilePic"></div>
      </div>
      <button class="btn ld_bg_accent mt-5">Connect to Instagram</button>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-12">
          <label>Name</label>
          <div class="profileDetailBox">your name</div>
        </div>
        <div class="col-6">
          <label>Age</label>
          <div class="profileDetailBox">your age</div>
        </div>
        <div class="col-6">
          <label>Gender</label>
          <div class="profileDetailBox">your gender</div>
        </div>
        <div class="col-6">
          <label>Weight(kg)</label>
          <div class="profileDetailBox">your weight</div>
        </div>
        <div class="col-6">
          <label>Height(cm)</label>
          <div class="profileDetailBox">your height</div>
        </div>
        <div class="col-6">
          <label>Age</label>
          <div class="profileDetailBox">your age</div>
        </div>
        <div class="col-12">
          <label>Activity Level</label>
          <div class="profileDetailBox">your activity level</div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
          <h1 class="ld_text_primary">2500</h1>
          <p>recommended kcal per day</p>
          <div class="row">
            <div class="col-2">
              <h3 class="ld_text_primary">500</h3>
            </div>
            <div class="col-10">
              <p class="mb-0 mt-2">kcal</p>
                <p>per meal</p>
            </div>
          </div>
          <button class="btn ld_bg_primary">show me the food</button>

        </div>
  </div>
</div>


<div class="ld_bg_accent connectInsta">
  Connect your instagram account and apply #leandiary to start posting!
</div>
