.registerModalHeading {
  background-color: var(--ld_primary);
  color: #fff;
  padding: 10px 30px 10px 30px;
}

.registerModalContent {
  padding: 10px 15px;
}

.btnInstaLogin {
  color: #fff;
  background-color: var(--ld_accent);
  margin-top: .25rem!important;
  width: 100%!important;
  cursor: pointer;
}

.btnLogin {
  color: #000;
  cursor: pointer;
}
.btnLogin:hover p{
  color:rgb(87, 87, 87);
}