.registerModalHeading {
  background-color: var(--ld_primary);
  color: #fff;
  padding: 10px 30px 10px 30px;
}

.registerModalContent {
  padding: 10px 15px;
}

.btnInstaLogin {
  color: #fff;
  background-color: var(--ld_accent);
  margin-top: .25rem!important;
  width: 100%!important;
}

.btnInstaLogin {
  color: #fff;
}
