.topTitleContainer {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
}

.topTitle {
  display: inline-block;
  flex: 1;
  font-size: 1.5rem;
}

.topTitle a {
  text-decoration:none;
  color:#000;
}

.topProfilePic {
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  outline: 0;
  border: none;
  display: inline-block;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  flex: 1;
  background-color: #000;
  margin-right: 10px;
}
