<div class="tagContainer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-3 ">
        <div class="searchTag"></div>
      </div>
      <div class="col-3 ">
        <div class="searchTag"></div>
      </div>
      <div class="col-3 ">
        <div class="searchTag"></div>
      </div>
      <div class="col-3 ">
        <div class="searchTag"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-3 ">
        <div class="searchTag"></div>
      </div>
      <div class="col-3 ">
        <div class="searchTag"></div>
      </div>
      <div class="col-3 ">
        <div class="searchTag"></div>
      </div>
      <div class="col-3 ">
        <div class="searchTag"></div>
      </div>
    </div>
  </div>
</div>
<div class="bgCloseBtn">
  <a class="coverCloseBtn">close</a>
</div>

<app-food-gallery [datasource]=images></app-food-gallery>
