*{
    margin : 0;
    padding : 0;
}
body,html {
    width : 100%;
    height : 100%;
}

.full-width{
    width:100%;
}
header{
    background-color : #242424;
}
.sidebar{
    display : inline-block;
    width: 20%;
    min-width : 50px;
    background-color : #2B3335;
    height : 100%;
    vertical-align: top;
    overflow-y: auto; /* prevent html blank space */
}
@media only screen and (max-width: 768px) {
    .sidebar{
        width : 5%;
    }
    .content{
        width : 95%;
    }
}
.noMargin{
    margin : 0;
}

.sideLink{
    font-weight: 700;
    font-size: 15px;
    color: #54acc0;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    text-transform: uppercase;
    border-top: 1px solid #484a53;
    border-bottom: 1px solid #22242a;
    background-color : #404040;
}
.collapsed .sideLink{
    color : #ccc;
    background-color: #2B3335;
}
.sideLink:hover{
    background-color : #404040;
    text-decoration : none;
    color: #54acc0;
    -webkit-transition: background-color 1000ms ease;
    -moz-transition: background-color 1000ms ease;
    -ms-transition: background-color 1000ms ease;
    -o-transition: background-color 1000ms ease;
    transition: background-color 1000ms ease;
}
.noCollapseSideLink{
  color: #ccc;
  background-color: #2B3335;
}

.hiddenLink ul{
    background-color : #363636;
    color: white;
}
.hiddenLink a{
    font-size : 12px;
    color : inherit;
    background-color : inherit;
}

.hiddenLink ul li:hover{
    background-color : #404040;
    color: #54acc0;
}

.hiddenLink ul{
    list-style-position : inside;
    list-style-type :none;
    text-indent : 10%;
    padding: 7px 0;
    margin: 0;
}

.hiddenLink li{
    padding: 3px 0;
}

a:link{
    text-decoration : none;
}

.stickyButton{
    margin-top : .5%;
    margin-bottom: .5%;
    float : right;
    margin-right : 4px;
}

.content{
    width : 80%;
    display : inline-block;
    height : 100%;
    overflow-y : auto;
    vertical-align: top;
    background-color : #EAEAEA;
    padding-right : 10px;
}

.searchBox {
    height : 20%;
}

.searchBox div{
    display : inline-block;
    margin-bottom : 5px;
    vertical-align: top;
}

.searchBox .text{
    width : 50%;
}

.searchBox .filter{
    width : 20%;
}

.menu-toggle{
    float : right;
    font-size : 1vw;
    margin-top : 5%;
    margin-right : 5%;
}

.rightFloatButton{
    margin-right : 1.5%;
}

.mediumBox{
    margin-left : 2.5%;
    margin-right : 2.5%;
    width : 95%;
}

.topSpacing{
    width : 100%;
    height : 5%;
}

.center{
    position : relative;
    margin-left : auto;
    margin-right : auto;
    width : 98%;
}

.formTable{
    width : 100%;
}

.formTable td{
    padding-top : 2px;
    padding-bottom : 2px;
}

.dashboard{
    height : 70%;
    margin-bottom: 30px;
}

.alertTable{
    background-color : white;
}

.col2{
    width : 100%;
}

.col2-col{
    display : inline-block;
    width : 50%;

  vertical-align: top;
    padding : 0px 10px;
}

.premise_image{
    width :200px;
    height : 150px;
}

.infoBox{
    background-color:white;
    padding : 5px;
    max-height : 500px;
    overflow-y: auto;
    -webkit-box-shadow: 0px 2px 2px 0 #E8E8E8;
    box-shadow: 0px 2px 2px 0 #E8E8E8;
}

.infoBox .infoBoxContent-big{
    overflow-y: scroll;
    max-height: 400px;
}

.infoBox .infoBoxContent-medium{
    overflow-y: scroll;
    max-height: 300px;
}

.infoBox .infoBoxContent-small{
    overflow-y: scroll;
    max-height: 200px;
}

.noPad{
    padding : 0px;
}

.noMargin{
    margin : 0px;
}
.auto_complete_box{
     max-height : 300px;
     overflow-y:scroll;
     overflow-x:hidden;
     position : absolute;
     max-width : 350px;
 }

 .pinkCap{
     border-top : 5px solid #ff3399;
 }
 .blueCap{
     border-top : 5px solid #6666ff;
 }
 .greenCap{
     border-top : 5px solid #2eb82e;
 }

 .yellowCap{
     border-top : 5px solid #ffde0d;
 }

 .orangeCap{
     border-top : 5px solid #f28124;
 }

 .padFull{
     padding: 10px;
 }

 .chartLegend ul {
     list-style-position : inside;
     font-size : 1.3vw;
 }
 .chartLegend{
     float : right;
 }
 .chartLegend ul li .label{
     color : #333333;
 }

 .right-align{
     text-align : right;
 }

 .infoBox .panel-heading{
     background-color : #f1f1f1;
 }

 .infoBox .panel-heading .panel-title{
     font-weight: 600;
 }

.dashboardContainer{
     padding-left: 2%;
     padding-right: 2%;
}


.collapsed .fa-chevron-down,
.fa-chevron-right {
  display: none;
}

.collapsed .fa-chevron-right,
.panel-heading .fa-chevron-down{
  display: inline-block;
}

.fa-chevron-right {
  cursor: pointer;
  margin-right: 5px;
  transition: all 0.4s ease;
}
 span.hidden-xs .fa-chevron-right,
 span.hidden-xs .fa-chevron-down{
   float: right;
   font-size: 15px;
   margin-right: 10%;
   margin-top: 1%;
 }

/* infobox scrollbar */
 .infoBoxContent-big::-webkit-scrollbar,
 .infoBoxContent-medium::-webkit-scrollbar,
 .infoBoxContent-small::-webkit-scrollbar {
   width: 10px;
   background-color: #F5F5F5;
}
 .infoBoxContent-big::-webkit-scrollbar-track,
 .infoBoxContent-medium::-webkit-scrollbar-track,
 .infoBoxContent-small::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 .infoBoxContent-big::-webkit-scrollbar-thumb,
 .infoBoxContent-medium::-webkit-scrollbar-thumb,
 .infoBoxContent-small::-webkit-scrollbar-thumb{
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

/* Content scrollbar */
.content::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}
.content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.content::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

/* Content sidebar */
.sidebar::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}
.sidebar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  	border-radius: 10px;
  	background-color: #F5F5F5;
}
.sidebar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

/* Remove extra scrollbar by header
remove these if caused any problem */
header {
   position: absolute;
   width: 100%;
   height: 50px;
   z-index: 1;
}
.sidebar {
   padding-top: 50px;
}
.content {
   padding-top: 50px;
}
/* End of Remove extra scrollbar by header*/

.whiteTitle {
   font-weight: 600;
}

.infoBoxContent-big table tbody tr td,
.infoBoxContent-medium table tbody tr td,
.infoBoxContent-small table tbody tr td{
   padding: 5px 0;
}

.iconMargin {
    margin: 5px;
}
