<div class="container">
  
  <div class="foodImg_container">
    <img src="{{food.url}}" class="img-fluid">
  </div>

  <h3 class="food_title">{{food.name}}</h3>

  <div class="meal_container">
    <h4>{{food.meal}}</h4>
  </div>

  <div class="food_tag_container" *ngFor="let tag of food.tags">
    <span class="food_tag">{{tag}}</span>
  </div>

  <div class="my-5">
    <h4><span class="ld_text_primary">{{food.kcal}}</span><small>kcal</small></h4>
  </div>

  
  <div class="label_container">
    <div class="food_protein">
      <span>{{food.protein}}g</span>
    </div>      
    <div class="food_carbs">
      <span>{{food.carbs}}g</span>
    </div>

    <div class="food_fiber">
      <span>{{food.fiber}}g</span>
    </div>

    <div class="food_fat">
      <span>{{food.fat}}g</span>
    </div>
  </div>

  <div class="food_ingredients">
    <p>Ingredients: {{food.ingredients}}</p>
  </div>

</div>