.btn_back_container {
    float: right;
}

.btn_back {
    font-size: 1.5rem;
    font-family: Arial;
    background-color: #d43838;
    color: #fff;
    border: none;
    padding: 0 12px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 5%;
}

.foodImg_container {
    text-align: center;
    background-color:#FAFAFA;
}

.foodImg_container img {
    height: 400px;
    object-fit: cover;
}

.meal_container {
    float: right;
}

.food_tag_container {
    display: inline-block;
    margin-right: 1%;
}
.food_tag {
    background-color: #000;
    color: #fff;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 34px;
    font-size: 0.7rem;
}

.label_container {
    text-align: center;
}

.food_protein,
.food_carbs,
.food_fiber,
.food_fat {
    display: inline-block;
    margin: auto 10px;
    padding: 10px 20px;
    width: 70px;
    border-radius: 5px;
}

.food_protein {
    background-color: #03A9F4;
    color: #fff;
}

.food_carbs {
    background-color: #F44336;
    color: #fff;
}

.food_fiber {
    background-color: #8BC34A;
    color: #fff;
}

.food_fat {
    background-color: #9E9E9E;
    color: #fff;
}

.label_name_container {
    text-align: center;
}

.label_name_container span {
    display: inline-block;
    margin: 10px 10px auto 10px;
    width: 70px;
    border-top: 5px solid #636363
}

.food_subtitle {
    text-align: center;
    padding-top: 5%;
}

.related_food{
    text-align: center;
}
.related_food img{
    height: 20vw;
    width: 100%;
    object-fit: cover;
    margin: 5% auto;
}